<div class="body">
<div class="container" id="thee">
    <div class="jumbotron">
      <p>Life Quotes!</p>
      <h6>Sharing memorable quotes</h6>
      <hr>
    </div>
    <div class="custom">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
  </div>
</div>
<div class="form">
  <p><b><u>BEST QUOTES</u></b></p>
<ul>
  <div *ngFor='let quote of quotes;let i = index'>
   <li>{{quote.description}}</li> <p>Added on {{quote.completeDate|date}}</p>
   <button (click)='toggleQuote(i)'>Details</button>

   <app-quote-details *ngIf='quote.showDescription' [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-details> 

  </div>
</ul>
   
<div class="col-md-2"></div>

</div>