<div class="body">
<div class="container" id="thee">
    <div class="jumbotron">
      <p>Life Quotes!</p>
      <h6>Sharing memorable quotes</h6>
      <hr>
    </div>
    <div class="custom">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
  </div>
</div>
<div class="form">
  <p><b><u>BEST QUOTES</u></b></p>
<ul>
  <div *ngFor='let quote of quotes;let i = index'>
   <li>{{quote.description}}</li> <p>Added {{quote.completeDate|dateCount}} days ago</p>
   <button (click)='toggleQuote()' class="btn btn-primary">Toggle Details</button>
<br>
   <app-quote-detail *ngIf='quotes.showDescription' [quote]='quote' (isComplete) = 'toggleQuote($event,i)'></app-quote-detail> 
  </div>
</ul>
   
<div class="col-md-2"></div>

</div>