.jumbotron {
    align-content: center;
    text-align: center;
    
    color: black;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 50px;
}
body {
    background-image: url('/assets/quote1.png');
    background-repeat: no-repeat;
    background-size: 2000px 1000px;
}
