.jumbotron {
    align-content: center;
    text-align: center;
    color: black;
    font-weight: bold;
    margin: auto;
    font-size: 50px;
    background-color: darkgrey;
}
body {
    background-image: url('/src/assets/quote1.png');
    background-repeat: no-repeat;
    background-size: 2050px 1000px;
    margin: 0em;
    color: white;
    
}
.page {
    margin-left: 3rem;
}
.form {
    text-align: center;
    background-color: brown;
}
.custom {
    text-align: center;
    background-image: url('/assets/quote1.png');
    background-color: darkturquoise;
    background-size: 1900px 500px;
    background-repeat: no-repeat;
}

